<h2>List all units belonging to condos that name starts with an specific text</h2>


<form method='get'>
  <p>
    <label>Condo Name Starts With</label>
    <input type='text' name='condo_name' value='<%= @condo_name %>' />
  </p>
  <p>
    <input type='submit' value='Search'/>
  </p>
</form>

<% if @units.present? %>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Number</th>
        <th>Building</th>
        <th>Owner</th>
        <th>Condominium</th>
      <tr>
    </thead>
    <tbody>
      <% @units.each do |unit| %>
        <tr>
          <td><%= unit.id %></td>
          <td><%= unit.number %></td>
          <td><%= unit.building %></td>
          <td><%= unit.owner.name %></td>
          <td><%= unit.condominium.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
