<h2>List all debts of an specific unit</h2>

<form method='get'>
  <p>
    <label>Condo Name</label>
    <input type='text' name='condo_name' value='<%= @condo_name %>' />
  </p>
  <p>
    <label>Unit #</label>
    <input type='text' name='unit_number' value='<%= @unit_number %>' />
  </p>
  <p>
    <input type='submit' value='Search'/>
  </p>
</form>

<% if @debts.present? %>
  <h2>Debts</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Debt type</th>
        <th>Due Date</th>
        <th>Description</th>
        <th>Original Amount</th>
        <th>Paid</th>
        <th>Notice Id</th>
      <tr>
    </thead>
    <tbody>
      <% @debts.each do |debt| %>
        <tr>
          <td><%= debt.id %></td>
          <td><%= debt.debt_type.debt_type %></td>
          <td><%= debt.due_date %></td>
          <td><%= debt.description %></td>
          <td><%= debt.original_amount %></td>
          <td><%= debt.paid ? 'Yes' : 'No' %></td>
          <td><%= debt.notice_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
